@{
    ViewBag.Title = "Home Page";
}

<h2>Menu</h2>
<div class="row metro-surface">  
    <div class="metro-tile col-md-3"><a href="http://asp.net" style="display:block;height:100%"><h2><span class="glyphicon glyphicon-list"></span> Polecenia</h2><h3>Lista poleceń Vario</h3></a></div>
    <div class="metro-tile col-md-3"><a href="http://asp.net" style="display:block;height:100%"><h2><span class="glyphicon glyphicon-search"></span> Szukaj</h2> </a></div>
    <div class="metro-tile col-md-3"><a href="http://asp.net" style="display:block;height:100%"><h2><span class="glyphicon glyphicon-briefcase"></span> Teczka</h2><h3>Twoje pliki</h3></a></div>

@*    <p><a href="http://asp.net" class="thumbnail">Learn more &raquo;</a>    <a href="http://asp.net" class="thumbnail">Learn more &raquo;</a>    <a href="http://asp.net" class="thumbnail">Learn more &raquo;</a></p>*@
     </div>