@{
    ViewBag.Title = "Polecenia Workflow";
}

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
       <div class="row">   
         <div class="col-md-8">
             <div class="panel-title">
                    <span class="label label-info"><span class="glyphicon glyphicon-file"></span> pyszne_ciastko.exe</span>
                    <small> - 04.04.2014 przez E. Wedel</small>
             </div>
             <h4>Zjedz ciaskto, no zjedz! OM NOM NOM NOM NOM</h4>
            </div>
         <div class="col-md-4">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-lg btn-info">Otwórz</a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-lg btn-info">Szczegóły</a>
            </div>
         </div>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse out">
      <div class="panel-body">
          <ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#home" data-toggle="tab">Szczegóły</a></li>
  <li class=""><a href="#profile" data-toggle="tab">Inna rzecz</a></li>
  <li class=""><a href="#profile" data-toggle="tab">Jeszcze inna</a></li>
    </ul>
          <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
                      <div class="metro-tile col-md-3" style="display:block;height:200px">
                          <a href="#" style="display:block;height:100%">
                              <h3>Faktura</h3>
                              <h1><span class="glyphicon glyphicon-file"></span></h1>
                              <p>FV KOSZTOWA TST MD 003 1903</p></a></div>
                      <div class="col-md-8">@Html.Partial("Details")</div>
              </div>
              <div class="tab-pane fade" id="profile">
                <p>l wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
              </div>
            </div>
      </div>
                  <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Odrzuć</a>
                <a href="#" class="btn btn-sm btn-default">Popraw</a>
                <a href="#" class="btn btn-sm btn-success">Akceptuj <span class="glyphicon glyphicon-ok"></span></a>
         </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
       <div class="row">   
         <div class="col-md-8">
             <div class="panel-title">
                    <span class="label label-info"><span class="glyphicon glyphicon-file"></span> pyszne_ciastko.exe</span>
                    <small> - 04.04.2014 przez E. Wedel</small>
             </div>
             <h4>Zjedz ciaskto, no zjedz! OM NOM NOM NOM NOM</h4>
            </div>
         <div class="col-md-4">
            <div class="btn-group btn-group-justified" style="vertical-align:top" >
                <a href="#" class="btn btn-lg btn-info">Otwórz</a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="btn btn-lg btn-info">Szczegóły</a>
            </div>
         </div>
      </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse out">
      <div class="panel-body">
          <ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#home" data-toggle="tab">Szczegóły</a></li>
  <li class=""><a href="#profile" data-toggle="tab">Inna rzecz</a></li>
  <li class=""><a href="#profile" data-toggle="tab">Jeszcze inna</a></li>
    </ul>
          <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
                      <img src="http://s.bravo.pl/download/multimedia/pictures/1205/410304051020162133974592.jpg" class="col-md-4" alt="" />
                  <div class="col-md-8">Cookie Monster is a Muppet on the long running children's television show Sesame Street. He is best known for his voracious appetite and his famous eating phrases: "Me want cookie!", "Me eat cookie!", and "Om nom nom nom" (said through a mouth full of food). He often eats anything and everything, including danishes, donuts, lettuce, apples, bananas, as well as normally inedible objects. However, as his name suggests, his preferred food is cookies. Chocolate chip cookies are his favorite kind; oatmeal cookies are his second favorite. In a song in 2004, Cookie Monster revealed that, before he ate his first cookie, he believes his name was Sid.[1][2][3] Showing awareness of healthy eating habits for children, since 2006 he has said that cookies are "a sometime snack" and that he also likes fruits and eggplant. He is known to have a mother, a younger sister, and an identically-designed cousin, who all share his characteristic blue fur and "googly eyes". He also has a father, who appeared in a Monsterpiece Theater sketch promoting energy conservation, water conservation and environmentalism. Both Cookie Monster's mother and father share his enormous appetite and craving for cookies. He and his Sesame Street friends are popular motifs on T-shirts.</div> 
              </div>
              <div class="tab-pane fade" id="profile">
                <p>l wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
              </div>
            </div>
      </div>
                  <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> Odrzuć</a>
                <a href="#" class="btn btn-sm btn-default">Popraw</a>
                <a href="#" class="btn btn-sm btn-success">Akceptuj <span class="glyphicon glyphicon-ok"></span></a>
         </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
       <div class="row">   
         <div class="col-md-8">
             <div class="panel-title">
                    <span class="label label-info"><span class="glyphicon glyphicon-file"></span> pyszne_ciastko.exe</span>
                    <small> - 04.04.2014 przez E. Wedel</small>
             </div>
             <h4>Zjedz ciaskto, no zjedz! OM NOM NOM NOM NOM</h4>
            </div>
         <div class="col-md-4">
            <div class="btn-group btn-group-justified" style="vertical-align:top" >
                <a href="#" class="btn btn-lg btn-info">Otwórz</a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-lg btn-info">Szczegóły</a>
            </div>
         </div>
      </div>
    </div>
    <div id="collapseThree" class="panel-collapse collapse out">
      <div class="panel-body">
          COKOLWIEK
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading">
       <div class="row">   
         <div class="col-md-8">
             <div class="panel-title">
                    <span class="label label-info"><span class="glyphicon glyphicon-file"></span> pyszne_ciastko.exe</span>
                    <small> - 04.04.2014 przez E. Wedel</small>
             </div>
             <h4>Zjedz ciaskto, no zjedz! OM NOM NOM NOM NOM</h4>
            </div>
         <div class="col-md-4">
            <div class="btn-group btn-group-justified" style="vertical-align:top" >
                <a href="#" class="btn btn-lg btn-info">Otwórz</a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="btn btn-lg btn-info">Szczegóły</a>
            </div>
         </div>
      </div>
    </div>
    <div id="collapseFour" class="panel-collapse collapse out">
      <div class="panel-body">
          COKOLWIEK
      </div>
    </div>
  </div>
@*      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      <button class="btn btn-xs btn-primary">
          Otwórz
        </button>
        <button class="btn btn-xs btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" >
          Szczegóły
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse out">
      <div class="panel-body">
          COKOLWIEK
      </div>
    </div>
  </div>
      <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      <button class="btn btn-xs btn-primary">
          Otwórz
        </button>
        <button class="btn btn-xs btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >
          Szczegóły
        </button>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse out">
      <div class="panel-body">
          COKOLWIEK
      </div>
    </div>
  </div>

</div>*@
