@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "_LayoutNoMenu.cshtml";
}

<h1 class="text-danger">:(</h1>
<h2 class="text-danger">Podana strona nie istnieje.</h2>

