
@{
    ViewBag.Title = "Szukaj";
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="text-info"><i class="glyphicon glyphicon-info-sign"></i> Usługa niedostępna</h3>
      </div>
      <div class="modal-body">
        <h4 >Brak możliwości wykonania operacji.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<h2><i class="glyphicon glyphicon-search" style="vertical-align:top"></i> Wyszukiwarka obiektów </h2>

<hr />

<div class="form-group">
  <div class="input-group">
    <input class="form-control" placeholder="Wpisz szukany tekst..." type="text">
    <span class="input-group-btn">
      <button data-toggle="modal" data-target="#myModal" class="btn  btn btn-info" type="button"> SZUKAJ </button>
    </span>
  </div>
</div>

<hr />

<div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
    <i class= "glyphicon glyphicon-info-sign"></i>
   W systemie odnaleziono  <strong>5</strong> pierwszych wyników zawierających frazę <strong>"kosztowa"</strong>.
</div>

@Html.Action("SearchResults", "Workflow")